.portfolio {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;

  .header {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 18px;
    background-color: var(--gray-100);
    border-bottom: solid 1px var(--gray-90);
    box-shadow: 0 16px 12px -10px var(--gray-100);

    .title {
      color: var(--gray-40);
      font-size: 20px;
      font-weight: 600;
    }

    .upload-btn {
      color: var(--gray-40);
      padding: 6px 14px;
      background-color: var(--gray-70);
      border: solid 1px var(--gray-40);
      border-radius: 50px;
      display: flex;
      align-items: center;
      column-gap: 6px;
      transform: scale(0.9, 0.9);
      transition: color 0.3s ease, transform 0.3s ease;

      .icon {
        margin-bottom: 2px;
        display: flex;
        font-size: 12px;
      }

      span {
        font-size: 14px;
      }

      &:hover {
        color: var(--text-white);
        transform: scale(1);
      }
    }
  }

  .courses {
    display: flex;
    flex-flow: column nowrap;

    .course {
      display: flex;
      flex-flow: column nowrap;
      border-bottom: solid 1px var(--gray-70);

      .top-bar {
        cursor: pointer;
        color: var(--gray-40);
        display: flex;
        flex-flow: row nowrap;
        column-gap: 10px;
        align-items: center;
        font-size: 14px;
        justify-content: space-between;
        padding: 14px 18px 13px;
        transition: background-color 0.15s ease, color 0.15s ease;

        &:hover,
        &.active {
          color: var(--text-color);
          background-color: var(--gray-80);
        }

        .title {
          font-size: 16px;
          font-weight: 500;
        }

        .description {
          color: var(--gray-60);
          font-size: 12px;
          margin: 4px auto 0 0;
        }
      }

      .content {
        display: flex;
        flex-flow: column nowrap;
        max-height: 0px;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;

        &.expanded {
          opacity: 1;
          visibility: visible;
        }

        .work-wrapper {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 16px;
          padding: 16px;

          &.odd {
            background-color: #00000015;
          }

          .thumbnail {
            display: flex;
            max-width: 100px;
            width: 100%;
            max-height: 120px;
            object-fit: cover;
            border-radius: 8px 16px;
            box-shadow: 0 20px 20px -10px #0005;
            border-bottom: solid 4px #555;
            border-right: solid 3px #888;
          }

          .info {
            display: flex;
            flex-flow: column nowrap;
            flex: 1;
            min-width: 240px;

            .title {
              color: var(--text-color);
              font-size: 16px;
              font-weight: 500;
              margin: 0;
            }

            .subtitle {
              color: var(--gray-40);
              font-size: 14px;
              margin-top: 4px;
            }

            .description {
              color: var(--gray-40);
              font-size: 14px;
              margin-top: 8px;
            }

            .download {
              color: var(--gray-40);
              margin: 10px auto 0 0;
              padding: 6px 14px;
              background-color: hsl(
                from var(--gray-100) h s l / 0.5
              );
              border: solid 1px hsl(from var(--gray-40) h s l / 0.5);
              border-radius: 4px;
              display: flex;
              align-items: center;
              column-gap: 6px;
              cursor: pointer;
              transition: color 0.3s ease;

              .icon {
                margin-bottom: 2px;
                display: flex;
                font-size: 12px;
              }

              span {
                font-size: 14px;
              }

              &:hover {
                color: var(--text-white);
              }
            }
          }
        }
      }
    }
  }
}
