.profile-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--gray-80);
  border: 1px solid var(--gray-70);
  border-radius: 20px;
  margin: auto;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--gray-40);
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

input {
  color: var(--gray-10);
  border: 1px solid var(--gray-60);
  width: 100%;
  text-overflow: ellipsis;
  background-color: var(--gray-70);
  border-radius: 15px;
  font-size: 14px;
  outline: 0;
  height: 45px;
  padding: 0 10px 0 48px;
  transition: all 0.2s ease;
}

input:focus {
  border-color: var(--gray-50);
}

.btn {
  grid-column: 1 / -1;
}
