:root {
  --max-width: 1200px;
  --pad-out: 16px;
  --margin-step: 8px;

  --text-color: #fff1f1;

  /** Gray */
  --gray-10: #f5f5f5;
  --gray-20: #e3e4e3;
  --gray-30: #c7c8c8;
  --gray-40: #abadac;
  --gray-50: #909191;
  --gray-60: #747675;
  --gray-70: #585b59;
  --gray-80: #3c3f3e;
  --gray-90: #202422;
  --gray-100: #131614;
}

body {
  background-color: var(--gray-90);
  color: var(--text-color);
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

a,
a:visited {
  text-decoration: inherit;
}

.mt-1 {
  margin-top: var(--margin-step) !important;
}
.mt-2 {
  margin-top: calc(2 * var(--margin-step)) !important;
}
.mt-3 {
  margin-top: calc(4 * var(--margin-step)) !important;
}
.mt-4 {
  margin-top: calc(8 * var(--margin-step)) !important;
}
.mt-5 {
  margin-top: calc(12 * var(--margin-step)) !important;
}
.mb-1 {
  margin-bottom: var(--margin-step) !important;
}
.mb-2 {
  margin-bottom: calc(2 * var(--margin-step)) !important;
}
.mb-3 {
  margin-bottom: calc(4 * var(--margin-step)) !important;
}
.mb-4 {
  margin-bottom: calc(8 * var(--margin-step)) !important;
}
.mb-5 {
  margin-bottom: calc(12 * var(--margin-step)) !important;
}

.user-select-none {
  user-select: none !important;
}

.pe-none {
  pointer-events: none !important;
}

.text-center {
  text-align: center !important;
}

.position-relative {
  position: relative !important;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--pad-out);
}

textarea::placeholder,
input::placeholder {
  color: var(--gray-50);
}
