.uploader {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.uploader .title {
  font-size: 30px;
  font-weight: 500;
  color: var(--gray-10);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  background-color: var(--gray-80);
  border: 1px solid var(--gray-70);
  border-radius: 20px;
  box-sizing: border-box;
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}

.form-wrapper input,
.form-wrapper textarea,
.form-wrapper select {
  appearance: none;
  color: var(--gray-10);
  border: 1px solid var(--gray-60);
  width: 100%;
  text-overflow: ellipsis;
  background-color: var(--gray-70);
  border-radius: 15px;
  font-size: 14px;
  outline: 0;
  box-sizing: border-box;
  padding: 16px 12px;
  transition: all 0.2s ease;
}

.form-wrapper select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAYAAACaq43EAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANZJREFUeNpi/P//P8NAACaGAQKjFo8wi588fcIGxA0gmpBGoBp2YtUS42NWIHYD4mVAA5nxWMoCpJYDsStUD2UWy0jLfAVSHkCsAMSLgBYwYbEU5KCVQCwLxJ5QPZTHMdCgT1DLDYF4KtAiRiRLQew5QKwJtfQTVRMX0MA30CD3BOI2JKl+IHYAyUHVkA0Y8RWZQB+qAqnDQDwBpBaI84HYBmjpHUpTNSOhshpouSWQ2gXE/6E+PUGN7MRITCUBtBwU7P+Blu6mVj5mHK2dRi0edhYDBBgArNtRMehUJR8AAAAASUVORK5CYII=");
  background-position: 100%;
  background-repeat: no-repeat;
}

.form-wrapper textarea {
  resize: none;
}

.form-wrapper input:focus,
.form-wrapper textarea:focus,
.form-wrapper select:focus {
  border-color: var(--gray-50);
}

.form-wrapper input[type="file"] {
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  transform: translateX(-50%);
}

.form-wrapper .custom-file-upload {
  color: var(--gray-20);
  font-size: 14px;
  background-color: var(--gray-70);
  border: 2px dashed var(--gray-60);
  border-radius: 15px;
  padding: 16px 12px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.submit-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
